* {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	z-index: auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	background: transparent;
}

html {
	overflow: hidden;
}

ul.show-ud span.ud {
	text-decoration: underline;
}

ul.menu {
	background: #282828;
	list-style: none;
	height: 25px;
	font-weight: normal;
	font-size: 14px;
	font-style: normal;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
	text-decoration: none;
	-webkit-transition: .05s linear;
	-moz-transition: all .05s linear;
	transition: .05s linear;
}

ul.menu li.item {
	position: relative;
	cursor: pointer;
	float: left;
	color: #ccc;
	padding: 5px 9px;
	border-bottom: 3px solid transparent;
	height: 12px;
	white-space: nowrap;
}

ul.menu.expand li.item:hover {
	border-color: 3px solid #f99;
}

ul.menu ul.sub-menu {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

ul.menu li.item:hover a {
	color: #fff;
	-moz-transition: .05s linear;
	-webkit-transition: .05s linear;
	transition: .05s linear;
}

ul.menu li.item.disabled {
	color: #777;
	text-shadow: none;
}

li.item ul.sub-menu li.sub-item.disabled {
	color: #777;
	text-shadow: none;
}

li.item ul.sub-menu li.sub-item.disabled:hover {
	background: transparent;
	cursor: default;
}

ul.sub-menu {
	position: absolute;
	background: #282828;
	z-index: 100;
	padding: 2px;
	margin-top: 3px;
	margin-left: -10px;
	list-style: none;
	top: -10000px;
	opacity: 0;
	border: 1px solid #444;
	text-shadow: 0px 1px 0px #e5e5ee;
}

ul.menu.expand li.item:hover ul.sub-menu {
	top: 100%;
	opacity: 1;
	-moz-transition: opacity .05s linear;
	-webkit-transition: opacity .05s linear;
	transition: opacity .05s linear;
	cursor: default;
}

ul.sub-menu li.sep {
	margin: 0px 7px;
	margin-bottom: 2px;
	height: 0px;
	border-top: 1px solid #222;
	border-bottom: 1px solid #333;
	cursor: default;
}

li.item ul.sub-menu li.sub-item {
	margin: 0px;
	cursor: pointer;
	position: relative;
	float: none;
	text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
	text-align: left;
	padding: 0px 20px;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
}

li.item ul.sub-menu li.sub-item:hover {
	background: rgba(255, 255, 255, 0.2);
	-moz-transition: background .05s linear;
	-webkit-transition: background .05s linear;
	transition: background .05s linear;
}

div#center {
	background: #555;
	display: block;
	position: absolute;
	top: 25px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: block;
}

#left {
	width: 46px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

ul.tool {
	border: 1px solid #555;
	top: 19px;
	left: 1px;
	right: 1px;
	bottom: 0px;
	position: inherit;
	background: #282828;
	list-style: none;
	overflow-y: hidden;
	padding: 2px;
	-moz-transition: .1s linear;
	-webkit-transition: .1s linear;
	transition: .1s linear;
	overflow: hidden;
}

#left .tools-hider:after {
	content: '<<';
}

.hide-tools #left .tools-hider:after {
	content: '';
}

.tools-hider {
	cursor: pointer;
	color: #777;
	position: inherit;
	top: 1px;
	right: 1px;
	left: 1px;
	height: 17px;
	line-height: 17px;
	text-align: center;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 0px;
	-moz-border-radius: 0px;
	border: 0px;
	color: #777;
}

.hide-tools .tools-hider {
	opacity: 1;
	bottom: 1px;
	height: auto;
}

ul.tool li {
	cursor: pointer;
	color: white;
	border-right: 3px solid #282828;
	right: 1px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	margin-bottom: 2px;
	vertical-align: middle;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-transition: all .1s linear;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}

#center.hide-tools #left {
	width: 12px;
	-moz-transition: width 0.5s ease;
	-webkit-transition: width 0.5s ease;
	transition: width 0.5s ease;
}

#center.hide-tools ul.tool {
	left: 30px;
	opacity: 0;
}

ul.tool li:hover {
	background: #444;
	border-color: #cef;
	-moz-transition: all 0s linear;
	-webkit-transition: 0s linear;
	transition: 0s linear;
}

ul.tool li>* {
	opacity: 0.7;
	-moz-transition: opacity 0.2s linear;
	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

#center.hide-tools ul.tool li.item {
	opacity: 0;
	margin-left: 50px;
	-moz-transition: margin-left opacity 0.5s ease;
	-webkit-transition: margin-left opacity 0.5s ease;
	transition: margin-left opacity 0.5s ease;
}

ul.tool li.active>* {
	opacity: 1;
	-moz-transition: opacity 0.2s linear;
	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

ul.tool li.active {
	background: #444;
	border-color: #f99;
	-moz-transition: border-color .1s linear;
	-webkit-transition: border-color .1s linear;
	transition: border-color .1s linear;
}

div#board {
	right: 1px;
	left: 46px;
	position: inherit;
	margin: 1px;
	top: 0px;
	bottom: 0px;
	background: #fff;
}

#center.hide-tools div#board {
	left: 10px;
	-moz-transition: left 0.5s ease;
	-webkit-transition: left 0.5s ease;
	transition: left 0.5s ease;
}

#center.hide-props div#board {
	right: 10px;
	-moz-transition: left 0.5s ease;
	-webkit-transition: left 0.5s ease;
	transition: left 0.5s ease;
}

ul.page-header {
	height: 24px;
	list-style: none;
	padding-left: 15px;
	background: #111;
	border-bottom: 2px solid #555;
}

ul.page-header:after {
	content: '';
	position: absolute;
	border-bottom: 1px solid #aaa;
	top: 0px;
	height: 23px;
	left: 0px;
	right: 0px;
}

ul.page-header li {
	position: relative;
	float: left;
	background: #ccc;
	font-size: 14px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding: 5px 35px 5px 20px;
	margin-right: -17px;
	height: 12px;
	line-height: 14px;
	cursor: pointer;
	border: 1px solid #aaa;
	width: auto;
	z-index: 2;
}

ul.page-header li.active {
	color: white;
	text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
	height: 13px;
	background: #555;
	border-bottom: none;
	z-index: 3;
}

ul.page-header li.active:hover {
	color: white;
}

ul.page-header li:hover {
	color: #555;
}

div#area {
	position: inherit;
	background: #FFF;
	top: 26px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

canvas {
	position: absolute;
	background: transparent;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: none;
}

canvas.phantom {
	z-index: 1000;
}

canvas.active {
	display: inline;
}

ul#foot {
	display: block;
	position: absolute;
	bottom: 0px;
	background: #ccc;
	height: 27px;
	left: 0px;
	right: 0px;
}

ul#foot li {
	float: left;
	line-height: 19px;
	margin: 1px 1px 1px 3px;
	padding: 1px 5px;
	border: 1px inset;
}

div#right {
	right: 0px;
	width: 190px;
	top: 0px;
	bottom: 0px;
	margin: 1px;
	position: absolute;
}

#right .tools-hider:after {
	content: '>>';
}

div#right div#prop {
	margin-top: 16px;
	top: 26px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background: #333;
	position: absolute;
	padding: 5px 8px;
	color: #ddd;
	text-shadow: 1px 1px 0px black;
}

#right ul.page-header li {
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 5px;
	margin-right: 0px;
}

#right ul.page-header:after {
	margin-top: 16px;
}

.center-message {
	vertical-align: middle;
	text-align: center;
	position: absolute;
	top: 50%;
	display: none;
}

:only-child.center-message {
	display: block;
}

svg .ent:hover {
	stroke: red !important;
	fill: red !important;
	cursor: pointer;
}

/***
* Dialog
***/
div.mask {
	position: absolute;
	z-index: 1000000;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background: rgba(0,0,0,0.5);
	display: none;
}