ul.show-ud span.ud {
	text-decoration: underline;
}

ul.menu {
	background: #282828;
	list-style: none;
	height: 25px;
	font-weight: normal;
	font-size: 14px;
	font-style: normal;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
	text-decoration: none;
	-webkit-transition: .05s linear;
	-moz-transition: all .05s linear;
	transition: .05s linear;
}

ul.menu li.item {
	position: relative;
	cursor: pointer;
	float: left;
	color: #ccc;
	padding: 5px 9px;
	border-bottom: 3px solid transparent;
	height: 12px;
	white-space: nowrap;
  z-index: 100000;
}

ul.menu.expand li.item:hover {
	border-color: 3px solid #f99;
}

ul.menu ul.sub-menu {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

ul.menu li.item:hover a {
	color: #fff;
	-moz-transition: .05s linear;
	-webkit-transition: .05s linear;
	transition: .05s linear;
}

ul.menu li.item.disabled {
	color: #777;
	text-shadow: none;
}

li.item ul.sub-menu li.sub-item.disabled {
	color: #777;
	text-shadow: none;
}

li.item ul.sub-menu li.sub-item.disabled:hover {
	background: transparent;
	cursor: default;
}

ul.sub-menu {
	position: absolute;
	background: #282828;
	z-index: 10001;
	padding: 2px;
	margin-top: 3px;
	margin-left: -10px;
	list-style: none;
	top: -10000px;
	opacity: 0;
	border: 1px solid #444;
	text-shadow: 0px 1px 0px #e5e5ee;
}

ul.menu.expand li.item:hover ul.sub-menu {
	top: 100%;
	opacity: 1;
	-moz-transition: opacity .05s linear;
	-webkit-transition: opacity .05s linear;
	transition: opacity .05s linear;
	cursor: default;
}

ul.sub-menu li.sep {
	margin: 0px 7px;
	margin-bottom: 2px;
	height: 0px;
	border-top: 1px solid #222;
	border-bottom: 1px solid #333;
	cursor: default;
}

li.item ul.sub-menu li.sub-item {
	margin: 0px;
	cursor: pointer;
	position: relative;
	float: none;
	text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
	text-align: left;
	padding: 0px 20px;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
}

li.item ul.sub-menu li.sub-item:hover {
	background: rgba(255, 255, 255, 0.2);
	-moz-transition: background .05s linear;
	-webkit-transition: background .05s linear;
	transition: background .05s linear;
}